/build
/deploy
wetator-ant-task/build
wetator-ant-task/deploy
wetator-ant-task/lib/*.jar
wetator-ant-task/lib_src/*.jar
wetator-ant-task/logs
wetator-ant-task/xsl/*
wetator-jenkins-plugin/deploy/org
wetator-jenkins-plugin/infinitest.filters
wetator-jenkins-plugin/target
wetator-jenkins-plugin/work
wetator-jsf-ext/bin
/wetator.config
wetator/.settings/org.sonar.ide.eclipse.core.prefs
wetator/.sonar
wetator/ant_lib/checkstyle
wetator/ant_lib/findbugs
wetator/ant_lib/ivy-2.1.0.jar
wetator/ant_lib/one-jar-ant-task-0.96.jar
wetator/ant_lib/pmd
wetator/ant_lib/version_tool.jar
wetator/build
wetator/deploy
wetator/infinitest.filters
wetator/js_filter.cfg
wetator/lib/*.jar
wetator/lib/ant
wetator/lib/automaton
wetator/lib/commons-codec
wetator/lib/commons-collections
wetator/lib/commons-httpclient
wetator/lib/commons-io
wetator/lib/commons-lang
wetator/lib/commons-logging
wetator/lib/hsql
wetator/lib/hsqldb
wetator/lib/htmlunit
wetator/lib/junit
wetator/lib/log4j
wetator/lib/net.sourceforge.cssparser
wetator/lib/net.sourceforge.htmlunit
wetator/lib/net.sourceforge.nekohtml
wetator/lib/org.apache.ant
wetator/lib/org.apache.pdfbox
wetator/lib/org.apache.poi
wetator/lib/org.w3c.css
wetator/lib/pdfbox
wetator/lib/poi
wetator/lib/xalan
wetator/lib/xerces
wetator/lib/xml-apis
wetator/lib_src/*.jar
wetator/lib_src/commons-lang
wetator/lib_src/commons-lang-2.5-src.zip
wetator/lib_src/htmlunit-2.7-src.zip
wetator/lib_src/junit
wetator/lib_src/junit-4.8.2-src.jar
wetator/lib_src/log4j
wetator/lib_src/net.sourceforge.htmlunit
wetator/lib_src/org.apache.pdfbox
wetator/lib_src/org.apache.poi
wetator/lib_src/pdfbox-1.1.0-src.zip
wetator/lib_src/poi-src-3.6-20091214.zip
wetator/logs/*
wetator/sonar-project.properties
wetator/tmp/*
wetator/tmp/*.wett
wetator/tmp/jQuery
wetator/tmp/jira
wetator/tmp/kai
wetator/tmp/optionsclick
wetator/tmp/timo
wetator/wetator.config
wetator/wetator.log
