ant_lib/ivy-2.1.0.jar
ant_lib/one-jar-ant-task-0.96.jar
ant_lib/version_tool.jar
lib/*.jar
lib/ant
lib/automaton
lib/commons-codec
lib/commons-collections
lib/commons-httpclient
lib/commons-io
lib/commons-lang
lib/commons-logging
lib/hsql
lib/hsqldb
lib/htmlunit
lib/junit
lib/log4j
lib/net.sourceforge.cssparser
lib/net.sourceforge.htmlunit
lib/net.sourceforge.nekohtml
lib/org.apache.ant
lib/org.apache.pdfbox
lib/org.apache.poi
lib/org.w3c.css
lib/pdfbox
lib/poi
lib/xalan
lib/xerces
lib/xml-apis
lib_src/*.jar
lib_src/commons-lang
lib_src/commons-lang-2.5-src.zip
lib_src/htmlunit-2.7-src.zip
lib_src/junit
lib_src/junit-4.8.2-src.jar
lib_src/log4j
lib_src/net.sourceforge.htmlunit
lib_src/org.apache.pdfbox
lib_src/org.apache.poi
lib_src/pdfbox-1.1.0-src.zip
lib_src/poi-src-3.6-20091214.zip
logs/SimpleHtml.xsl.html
logs/images
logs/responses_current
logs/wetresult.xml
