<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE testcase SYSTEM "../dtd/testcase.dtd">
<testcase>
	<step command="Comment"><![CDATA[inside module]]></step>
	<step command="Open_Url"><![CDATA[assert_content.html]]></step>
	<step command="Assert_Title"><![CDATA[Wetator / Assert Content]]></step>
	<step command="Comment"><![CDATA[module finished]]></step>
</testcase>