######################################################################
#                                                                    #
#   Sample configuration for the Wetator                             #
#                                                                    #
#   rbri 2008..2011                                                  #
#                                                                    #
######################################################################


## -------------------------------------------------------------------
## The base url for the machine to test against
## this is the variable part of the application url that
## will change if you test a installation of the application
## on a different server
##
## required (there is no default)
## -------------------------------------------------------------------
wetator.baseUrl = http://www.wetator.org/testcases


## -------------------------------------------------------------------
## The timeout in seconds wetator will wait for javascript jobs
## to complete after the execution of an action.
##
## default is 1
## -------------------------------------------------------------------
# wetator.jsTimeout = 2


## -----------------------------------------------------------
## The comma separated list of browsers used for every
## test case run.
## valid value:   Firefox_3
##                Firefox_3_6
##                IE_6
##                IE_7
##                IE_8
##
## Default is the Firefox_3_6.
## -----------------------------------------------------------
wetator.browser=IE_6, IE_7, IE_8, Firefox_3, Firefox_3_6


## -----------------------------------------------------------
## Use this to define the Accept-Language header like
## your browser does.
## Default is 'en-us,en;q=0.8,de-de;q=0.5,de;q=0.3'.
## -----------------------------------------------------------
# wetator.acceptLanguage=en-us,en;q=0.8,de-de;q=0.5,de;q=0.3
# wetator.acceptLanguage=de-de,de;q=0.8,en-us;q=0.5,en;q=0.3
# wetator.acceptLanguage=en,de
# wetator.acceptLanguage=de,en


## -----------------------------------------------------------
## The directory used to store the xml report.
## All other reports are using this directory also.
##
## Set the property wetator.distinctOutput to true if
## you like to have a distinct subdir for every test run
## -----------------------------------------------------------
wetator.outputDir=../logs
wetator.distinctOutput=false


## -----------------------------------------------------------
## The names of xsl templates used to transform the result
## into different more readable output.
## -----------------------------------------------------------
wetator.xslTemplates=../xsl/run_report.xsl


## -------------------------------------------------------------------
## PROXY
##
## if you want to test an application behind a proxy, set the following
## name or ip of your proxy
## -------------------------------------------------------------------
# wetator.proxyHost=myproxy.sumwhere.edu
# wetator.proxyHost=localhost

## proxy-port
# wetator.proxyPort=8080
# wetator.proxyPort=8888

## bypass the proxy for the following hosts
## you can use * as wildcard and define more
## hosts by seperating them with |
# wetator.proxyHostsToBypass= TODO

## proxy-user
# wetator.proxyUser=proxyuser
# wetator.proxyPassword=proxypassword

## BasicAuth-user
# wetator.basicAuthUser=
# wetator.basicAuthPassword=


## -----------------------------------------------------------
## The comma separated list of command sets.
## There is no need to register the build in default command
## sets (e.g. org.wetator.commandset.DefaultCommandSet) here.
## -----------------------------------------------------------
# wetator.commandSets=org.wetator.commandset.SqlCommandSet
# org.wetator.commandset.IncubatorCommandSet
# org.wetator.commandset.TestCommandSet


## -----------------------------------------------------------
## The comma separated list of controls.
## There is no need to register the build in default controls
## here.
## -----------------------------------------------------------
# wetator.controls=


## -----------------------------------------------------------
## The comma separated list of scripters.
## There is no need to register the build in default scripter
## (org.wetator.scripter.ExcelScripter) here.
## -----------------------------------------------------------
# wetator.scripters=


## -------------------------------------------------------------------
## Database connections
##
## -------------------------------------------------------------------
wetator.db.connections=wetdb, secondDb

wetator.db.wetdb.driver=org.hsqldb.jdbcDriver
wetator.db.wetdb.url=jdbc:hsqldb:mem:wetdb
wetator.db.wetdb.user=sa
wetator.db.wetdb.password=

wetator.db.secondDb.driver=org.hsqldb.jdbcDriver
wetator.db.secondDb.url=jdbc:hsqldb:mem:second_db
wetator.db.secondDb.user=sa
wetator.db.secondDb.password=


## -------------------------------------------------------------------
## You can define variables in your tests, which are
## resolved at runtime. The name of the variable must start
## with $. If you define some secret (don't display the value in all
## log output, then start the name with $$
## -------------------------------------------------------------------
$app_user=dobby
$$app_password=secret

$wet=Wetator
$$wet-secret=Wetator
