<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="w_stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%5p [%5.5t] (%25.25F:%5.5L) - %m%n" />
            <!-- we might change the log level for wire to TRACE (see wetator.retrospect config setting);
                define a threshold to not write all the details to this appender -->
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.wetator.core.WetConfiguration" level="warn" />

        <!-- suppress stack trace for javascript errors -->
        <Logger name="com.gargoylesoftware.htmlunit.javascript.background.JavaScriptJobManagerImpl" level="fatal" />
        <!-- no output for every javascript exception thrown but catched -->
        <Logger name="com.gargoylesoftware.htmlunit.javascript.StrictErrorReporter" level="fatal" />
        <!-- in case we have activated the javascript debugger -->
        <!-- <Logger name="com.gargoylesoftware.htmlunit.javascript.DebugFrameImpl" level="trace" /> -->

        <!-- all the rest from HtmlUnit -->
        <Logger name="com.gargoylesoftware.htmlunit" level="warn" />

        <!-- sometimes jetty likes to talk -->
        <Logger name="org.eclipse.jetty" level="warn">
            <AppenderRef ref="w_stdout" />
        </Logger>

        <!-- our root logger -->
        <Logger name="org.wetator" level="error">
            <AppenderRef ref="w_stdout" />
        </Logger>
        <Logger name="com.gargoylesoftware.htmlunit" level="error">
            <AppenderRef ref="w_stdout" />
        </Logger>
        <Logger name="org.apache.http" level="error">
            <AppenderRef ref="w_stdout" />
        </Logger>
        <Logger name="org.apache.pdfbox" level="error">
            <AppenderRef ref="w_stdout" />
        </Logger>
        <Logger name="org.apache.poi" level="error">
            <AppenderRef ref="w_stdout" />
        </Logger>

        <Root level="error" />
    </Loggers>
</Configuration>